{% extends 'base.html' %}
{% load static %}



{% block body %}

<h1> Property type : {{ article.category }} </h1>

<h2>Owner of Property : {{ article.owner_name }}</h2>


<p> Short Description : {{ article.description }} </p>




  <img src="{{ article.photo.url }}" alt="{{ article.type }}">

<p><a class = "card-link btn text-dark text-danger " href="{% url 'editarticle'  article.id %}">Edit Article </a></p>

<div class="mt-5">
	<h2>
	Comments </h2>
{% for comment in article.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
</div>

{% endfor %}

{% endblock body %}