{% extends 'base.html' %}
{% load static %}

{% block title  %} Delete the Property?? {% endblock title  %} 

{% block body %} 
	{% if request.user.is_authenticated %}
	
	<form action="" method="post" class="text-lignt"> {% csrf_token %}
	
	<p class="text-dark font-weight-bold"> Do you want to delete the Property ?</p>
	<input class="btn red lighten-1 col-ml-2 text-light font-weight-bold" type="submit" value="Confirm"/>
	</form>
	<a class="btn text-dark font-weight-bold col-ml-5 mt-5" href="{% url 'editarticle' article.id %}">Edit insted?</a>
	

	{% else %}
  		<div class="alert alert-danger" role="alert">
  				You are not Logged In !!
  				<a href="{% url 'login' %}" >Log In</a>
		</div>
		<div class="alert alert-warning" role="alert">
  				Not an existing user ?<a href="{% url 'signup' %}" >Sign Up !</a>
		</div>
  		 

	{% endif %}
	





{% endblock body %}