{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block body %} 




{% if request.user.category == 'Seller' %}
<h1>Welcome to realEst, {{ user.username }}</h1>

 <a class = "btn button red lighten-3 text-dark" href="{% url 'addarticle'  %}"> Add Article </a>

{% else %}

<h1> Welcome!</h1>
<p class="text-muted">Please LogIn to Enjoy all the features!</p>

{% endif %}

<ul class="list-inline" > 

	      {% for element in articlelist reversed %}
            <div class="card md-4 mt-5">
            	<div clas="card-body" style="">
            <a class = "card-link text-danger text-danger " href="{% url 'article' element.id %}">
               
                <div class="container m-3">
                  <li class="list-inline-item"> 
                  	 <img src="{{ element.photo.url }}" alt="{{ element.type }}" style="height:200px; width:200px;">
                    <h4 class="mt-4"> Type of property: {{ element.category }} ( {{ element.location }} ) </h4>
                    
                    <h5 class="text-dark"><small class="text-muted"> Owner : </small> {{ element.owner_name}}
                    <h3>Price: {{ element.price }}$</h3>
                    <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                    
                  </li>
                </div>
                          </a>
  	</div>
  </div>
            {% endfor %}


  	</ul>
{% endblock body %}