{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block body %} 

<h1>Welcome to realEst</h1>

<p class="text-muted" > We do not own any responsibility over the advertisements posted over thi platform. All the communication carried over here shall be on the sole responsibility of the end user </p>
{% if request.user.is_authenticated %}
<ul type="none">
	<li> <a class = "btn button blue text-dark text-danger " href="{% url 'addarticle'  %}"> Add Article </a></li>
</ul>

{% endif %}
<ul class="list-inline" > 
	      {% for element in articlelist reversed %}
            <a class = "card-link text-danger text-danger " href="{% url 'article' element.id %}">
               
                <div >
                  <li class="list-inline-item"> 
                    <h4 >  {{ element.category }} ( {{ element.location }} ) </h4>
                    <h6 class="text-muted" > Added {{ element.created_at|timesince }} Ago</h6>
                    
                  </li>
                </div>
                          </a>
  
            {% endfor %}
  	</ul>
{% endblock body %}